<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>DataInsight - Przesyłanie Pliku</title>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="mb-4">Przesyłanie pliku zakończone sukcesem!</h1>
        <p>Możesz teraz przejść do analizy danych.</p>
        <a href="{{ url_for('analyze', filename='uploaded_data.csv') }}" class="btn btn-primary mt-3">Przejdź do analizy</a>
    </div>
</body>
</html>
